ConfigSpace==1.2.0
dask==2024.11.2
dask_jobqueue==0.9.0
f90nml==1.4.4
matplotlib==3.9.2
MDAnalysis==2.7.0
MDAnalysis==2.7.0
mdtool==0.1.0
numpy==2.1.3
pandas==2.2.3
ParmEd==4.2.2
scikit_learn==1.5.2
scipy==1.14.1
smac==2.2.0
tqdm==4.66.4
tyro==0.8.5
